{
  "prefixYOUR_GUILD_ID": "!",
  "karşılamaYOUR_GUILD_ID": "YOUR_WELCOME_CHANNEL_ID",
  "otorolYOUR_GUILD_ID": "YOUR_AUTO_ROLE_NAME",
  "levelYOUR_GUILD_ID": 1,
  "reklamengelYOUR_GUILD_ID": "açık",
  "afksayıYOUR_GUILD_ID": 0,
  "YOUR_USER_IDYOUR_GUILD_IDlevel": 0
}
